<%
  url =
    if team.persisted?
      league_team_path(league, team)
    else
      league_teams_path(league)
    end
%>

<%= form_with(model: team, url: url) do |form| %>
  <%= form_errors(team) %>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, autofocus: !team.persisted? %>
  </div>

  <div class="field">
    <%= required_field_label form, :identifier %>
    <%= form.text_field :identifier %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name,
                               include_blank: 'None' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
