<%
  hitters = team.hitters.limit(10)
  pitchers = team.pitchers.limit(10)
  league = team.league
  confirm = "Are you sure you want to remove #{team.name}?"
%>

<section id="team_<%= team.id %>" class="team card">
  <header class="card-header">
    <h2>
      <%= link_to_if can?(:read, team), team.name,
                     league_team_path(league, team) %>
    </h2>
  </header>

  <main class="card-main">
    <div class="team-hitters">
    </div>

    <% if hitters.any? || pitchers.any? %>
      <% if hitters.any? %>
        <ul class="team-hitters card-link-list">
          <li>Hitters:</li>
          <% hitters.each do |hitter| %>
            <li>
              <%= link_to_if can?(:read, hitter), hitter.roster_name, hitter %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><em>No hitters yet</em></p>
      <% end %>

      <% if pitchers.any? %>
        <ul class="team-pitchers card-link-list">
          <li>Pitchers:</li>
          <% pitchers.each do |pitcher| %>
            <li>
              <%= link_to_if can?(:read, pitcher), pitcher.roster_name, pitcher %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><em>No pitchers yet</em></p>
      <% end %>
    <% else %>
      <p><em>No players yet</em></p>
    <% end %>
  </main>

  <% if can?(:edit, team) || can?(:destroy, :team) %>
    <footer class="card-footer">
      <% if can?(:edit, team) %>
        <%= link_to 'Settings', edit_league_team_path(league, team) %>
      <% end %>
      <% if can?(:destroy, team) %>
        <%= link_to 'Remove', league_team_path(league, team),
                    method: :delete, class: 'destroy-link',
                    data: { confirm: confirm } %>
      <% end %>
    </footer>
  <% end %>
</section>
