<%= content_tag :h2, @team.name %>
<p>from <%= link_to "#{@league.name} League", @league %></p>

<% if @icon.present? %>
  <div class="team-icon">
    <%= image_tag @icon, alt: "#{@team.name} Icon" %>
  </div>
<% end %>

<p>
  <%= link_to 'Edit', edit_league_team_path(@league, @team) %> |
  <%= link_to 'Back', @league %>
</p>
