<%= league_breadcrumbs(@league) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <div class="name-and-logo">
        <% if @team.logo.present? %>
          <div class="logo-wrapper">
            <%= image_tag @team.logo,
                alt: "#{@team.name} Logo", class: 'logo' %>
          </div>
        <% end %>

        <%= content_tag :h1, @team.name, class: 'team-name' %>
      </div>
    </div>

    <div class="second-column">
      <%= link_to 'Team Settings',
                  edit_league_team_path(@league, @team),
                  class: 'button' %>
    </div>
  </div>

  <%= team_nav(@team) %>
</div>

<h2>Roster</h2>

<%= render 'players/players', players: @players,
                              show_team: false %>
