<% user = @team.user  %>

<%= league_breadcrumbs(@league) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <div class="name-and-logo">
        <% if @team.logo.present? %>
          <div class="logo-wrapper">
            <%= image_tag @team.logo,
                alt: "#{@team.name} Logo", class: 'logo' %>
          </div>
        <% end %>

        <%= content_tag :h1, @team.name, class: 'team-name' %>
      </div>
    </div>

    <% if can?(:edit, @team) %>
      <div class="second-column">
        <%= link_to 'Team Settings',
                    edit_league_team_path(@league, @team),
                    class: 'button' %>
      </div>
    <% end %>
  </div>

  <%= team_nav(@team) %>
</div>

<% if user && user.id != current_user_id %>
  <dl class="user-info">
    <dt>Owner</dt>
    <dd><%= link_to user.name, user, class: 'team-user' %></dd>
  </dl>
<% end %>

<div class="heading-and-button">
  <h2>Roster</h2>
  <% if can?(:create, new_roster) %>
    <%= link_to 'Edit', team_rosters_path(@team),
                class: 'button button-clear' %>
  <% end %>
</div>

<%= render 'players/players', players: @players,
                              show_team: false %>
