<%
  team = lineup.team
  url =
    if spot.persisted?
      lineup_spot_path(lineup, spot)
    else
      lineup_spots_path(lineup)
    end
%>

<%= form_with(model: spot, url: url) do |form| %>
  <%= form_errors(spot) %>
  <%= form.hidden_field :batting_order %>

  <div class="field">
    <%= form.label :hitter_id %>
    <%= form.collection_select :hitter_id, team.hitters, :id, :roster_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.select :position, lineup.position_form_options, prompt: '-Pick-' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<hr>

<div class="hitters-bench">
  <h2>Hitters</h2>

  <%= render 'hitters/hitters', hitters: team.hitters,
                                show_contract: false,
                                highlight: lineup.vs %>
</div>
