<% hitter = spot.hitter  %>

<div class="spot">
  <%= content_tag :span, spot.batting_order,
                  class: 'spot-batting-order' %>
  <span class="spot-hitter-and-position">
    <span class="spot-hitter">
      <%= content_tag :span, hitter.roster_name,
                      class: 'spot-hitter-name' %>
      <%= content_tag :span, hitter.bats,
                      class: 'spot-hitter-bats' %>
    </span>
  </span>

  <div class="spot-defense-wrapper">
    <%= content_tag :span, spot.position_initials,
                    class: 'spot-position' %>
    <%= content_tag :span, format_defense(spot.defense),
                    class: 'spot-defense' %>
  </div>
</div>
