<% player = spot.player  %>

<div class="spot">
  <%= content_tag :span, spot.batting_order,
                  class: 'spot-batting-order' %>
  <span class="spot-player-and-position">
    <span class="spot-player">
      <%= content_tag :span, player.roster_name,
                      class: 'spot-player-name' %>
      <%= content_tag :span, player.bats,
                      class: 'spot-player-bats' %>
    </span>
  </span>

  <div class="spot-defense-wrapper">
    <%= content_tag :span, spot.position_initials,
                    class: 'spot-position' %>
    <%= content_tag :span, format_defense(spot.defense),
                    class: 'spot-defense' %>
  </div>
</div>
