<%= form_with(model: league) do |form| %>
  <%= form_errors(league) %>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, autofocus: !league.persisted? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
