<%
  teams = league.teams
  confirm = "Are you sure you want to remove #{league.name}?"
%>

<section id="league_<%= league.id %>" class="league card">
  <header class="card-header column-heading">
    <h2><%= link_to league.name, league %></h2>

    <p>
      <% unless league.first? %>
        <%= link_to "&uArr;".html_safe, sort_league_path(league, league: { row_order_position: 'up' }),
                   method: :patch, class: 'button button-secondary button-clear button-small' %>
      <% end %>
      <% unless league.last? %>
        <%= link_to "&dArr;".html_safe, sort_league_path(league, league: { row_order_position: 'down' }),
                    method: :patch, class: 'button button-secondary button-clear button-small' %>
      <% end %>
    </p>
  </header>

  <main class="card-main">
    <% if teams.any? %>
      <ul class="league-teams card-link-list">
        <% teams.order(name: :asc).each do |team| %>
          <li><%= link_to team.name, league_team_path(league, team) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>
        <em>No teams yet</em>
      </p>
    <% end %>
  </main>

  <footer class="card-footer">
    <%= link_to 'Settings', edit_league_path(league) %>
    <%= link_to 'Remove', league,
                method: :delete,
                class: 'destroy-link',
                data: { confirm: confirm } %>
  </footer>
</section>
