<%= breadcrumbs [['Home', root_path]] %>
<%= enable_page_title @league.name %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, @league.name, class: 'league-name' %>
    </div>

    <% if can?(:edit, @league) || can?(:create, new_team) %>
      <div class="second-column">
        <% if can?(:edit, @league) %>
          <%= link_to 'League Settings', edit_league_path(@league),
                      class: 'button' %>
        <% end %>
        <% if can?(:create, new_team) %>
          <%= link_to 'Add Team', new_league_team_path(@league),
                      class: 'button button-success' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="teams cards">
  <%= render @teams, league: @league %>
</div>
