<%= content_tag :h2, "#{@league.name} League Teams" %>

<table>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', league_team_path(@league, team) %></td>
        <td><%= link_to 'Edit', edit_league_team_path(@league, team) %></td>
        <td><%= link_to 'Destroy', league_team_path(@league, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Team', new_league_team_path(@league) %>
</p>

<p>
  <%= link_to 'Edit', edit_league_path(@league) %> |
  <%= link_to 'Back', leagues_path %>
</p>
