<%= breadcrumbs([['Home', root_path]]) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, @league.name, class: 'league-name' %>
    </div>

    <div class="second-column">
      <%= link_to 'League Settings', edit_league_path(@league),
                  class: 'button' %>
    </div>
  </div>
</div>

<div class="teams cards">
  <%= render @teams, league: @league %>
  <%= render 'teams/new', league: @league %>
</div>
