<%= content_tag :h1, "#{@league.name} League", class: 'league-name' %>

<p>
  <%= link_to 'League Settings', edit_league_path(@league) %>
</p>

<h2>Teams</h2>

<table>
  <tbody class="teams">
    <% @teams.each do |team| %>
      <tr id="team_<%= team.id %>" class="team">
        <td><%= link_to team.name, league_team_path(@league, team) %></td>
        <td><%= link_to 'Team Settings', edit_league_team_path(@league, team) %></td>
        <td><%= link_to 'Destroy', league_team_path(@league, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Add Team to League', new_league_team_path(@league) %>
</p>
