<%
path ||= request.path
return unless path
%>

<% if searching? %>
  <% if params[:order] != 'reset' %>
    <p class="link-wrapper"><%= link_to 'Reset Filters', "#{path}?order=reset" %></p>
  <% end %>
<% else %>
  <p class="link-wrapper"><%= link_to 'Search/Filter Pitchers', 'javascript:void(0)', class: 'toggle-link filter-toggle-link', data: { target: 'pitcher-filters' } %></p>
<% end %>

<div id="pitcher-filters" class="filters-wrapper<%= ' inactive' unless searching? %>">
  <%= form_tag path, method: :get, class: "pitchers-filter-form" do %>
    <%= hidden_field_tag :order, 'pitching' %>

    <%= render 'players/name_filter_field' %>

    <%= render 'pitchers/pitcher_type_filter_field' %>
    <%= render 'pitchers/throws_filter_field' %>

    <% if @team.nil? %>
      <%= render 'players/free_agent_filter_field' %>
    <% end %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
