<%
path ||= request.path
return unless path
%>

<div class="filters-wrapper">
  <div class="heading-and-link">
    <% if searching? %>
      <%= link_to 'reset', path %>
    <% end %>
  </div>

  <%= form_tag path, method: :get, class: "pitchers-filter-form" do %>
    <%= hidden_field_tag :order, 'name' %>

    <%= render 'players/name_filter_field' %>
    <%= render 'players/free_agent_filter_field' %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
