<%
  table_index ||= nil
  highlight ||= nil
%>

<tr class="pitcher" id="pitcher_<%= pitcher.id %>">
  <% if table_index.present? %>
    <%= content_tag :td, table_index, class: 'table-index' %>
  <% end %>
  <td><%= link_to pitcher.roster_name, pitcher, class: 'pitcher-name' %></td>
  <td><%= pitcher.verbose_pitcher_type %></td>
  <td><%= pitcher.throws %></td>
  <td><%= pitcher.starting_pitching %></td>
  <td><%= pitcher.relief_pitching %></td>
  <td><%= pitcher.pitching_durability %></td>
  <%= defense_td(pitcher.defense1, pitcher.bar1) %>
  <% if show_contract %>
    <td class="left-border"><%= render 'players/contract', player: pitcher, show_team: show_team %></td>
  <% end %>
  <% if show_roster %>
    <%= content_tag :td, pitcher.roster_level, class: 'left-border roster-level' %>
  <% end %>
</tr>
