<% if @team %>
  <%= league_team_breadcrumbs(@league, @team) %>
<% end %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <% if @team %>
        <%= content_tag :h1, 'Pitchers' %>
      <% else %>
        <%= content_tag :h1, 'All Pitchers' %>
      <% end %>
    </div>
  </div>

  <%= team_nav(@team) if @team %>
</div>

<%= render 'players/filter_form', players: @pitchers %>

<%= render 'pitchers/pitchers', pitchers: @pitchers,
                              show_team: @team.nil? %>
