<%= user_breadcrumbs @user %>
<%= enable_page_title "Change Password" %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>
    <p>
      Currently waiting confirmation for your email:
      <%= content_tag :strong, resource.unconfirmed_email %>
    </p>

    <%= content_tag :p, link_to("Didn't receive confirmation instructions?",
                                new_confirmation_path(resource_name)) %>
  </div>
<% else %>
  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <%= content_tag :h1, 'Change Password' %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="first-column">
      <%= render 'form',
                 minimum_password_length: @minimum_password_length %>
    </div>

    <div class="second-column">
      <div class="devise-links">
        <h3>Helpful Links</h3>
        <%= content_tag :p, link_to('Change Name or Email',
                                    edit_user_path(@user)) %>
      </div>
    </div>
  </div>
<% end %>
