<%
  # team, roster/position required
  # TODO: add current position players at dragable fields
  # TODO: add 'move up/down' button to change levels
  # TODO: show other possible positions
  rosters = rosters.where(position: position)
  roster = team.rosters.build(level: level, position: position)
  url = team_rosters_url(team)
  css_id = "roster_level_#{level}_position_#{position}"
%>

<%= form_with(model: roster, url: url,
              id: "#{css_id}_form", class: 'roster-position-form',
              local: false) do |form| %>

  <%= content_tag :span, Roster.position_initials(position, level),
                  class: 'rosters-position' %>

  <%= form.hidden_field :position,
                        id: "#{css_id}_position", class: 'roster-position-field' %>
  <%= form.hidden_field :level,
                        id: "#{css_id}_level", class: 'roster-level-field' %>
  <%= form.hidden_field :player_id,
                        id: "#{css_id}_player_id", class: 'roster-player-field' %>

  <div class="level-position-rosters">
    <%= render partial: 'rosters/player_field', collection: rosters,
               as: :roster %>
  </div>
<% end %>
