<%
  # rosters, level, position required
  css_class =
    if level == 4
      if rosters.count == Roster::MAX_LEVEL4
        'complete'
      else
        'incomplete'
      end
    end
%>

<div id="rosters_level_<%= level %>" class="rosters-level <%= css_class %>">
  <div class="heading-and-count">
    <%= content_tag :h2, Roster::LEVEL_MAP[level][:name] %>
    <%= content_tag :span, rosters.count,
                    class: "count rosters-count" %>
  </div>

  <% Roster.level_positions(level).each do |position| %>
    <%= render 'rosters/position', team: team, level: level,
                                   position: position,
                                   rosters: rosters %>
  <% end %>
</div>
