<% if @team %>
  <%= league_team_breadcrumbs(@team.league, @team) %>

  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <%= content_tag :h1, 'Team Rosters' %>
      </div>
    </div>

    <%= team_nav(@team) %>
  </div>

  <div class="columns team-rosters">
    <div class="first-column">
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 4 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 3 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 2 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 1 %>
    </div>

    <% if can?(:create, new_roster) && @rosterless_players.any? %>
      <div class="second-column">
        <h2>Pending</h2>
        <div id="rosterless-players" class="rosterless-players">
          <%= render partial: 'rosters/rosterless_player',
                     collection: @rosterless_players %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <h2>Player Stats</h2>
  <%= render 'players/players', players: @players, show_contract: false %>
<% else %>
  <%= breadcrumbs([['Home', root_path]]) %>

  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <h1>All Rosters</h1>
      </div>
    </div>
  </div>

  <div class="rosters">
    <div class="roster-labels">
      <% [4, 3, 2, 1].each do |level| %>
        <%= content_tag :h3, Roster::LEVEL_MAP[level][:name] %>

        <% Roster.level_positions(level).each do |position| %>
          <%= content_tag :h4, Roster.position_initials(position, level),
                          class: 'roster-position' %>
        <% end %>
      <% end %>
    </div>

    <% @leagues.each do |league| %>
      <div class="rosters-league">
        <%= content_tag :h2, league.name %>

        <% teams = league.teams.order(name: :asc) %>

        <div class="rosters-league-teams">
          <% teams.each do |team| %>
            <div id="rosters_team_<%= team.id %>" class="rosters-team">
              <%= content_tag :h3, team.name %>

              <% [4, 3, 2, 1].each do |level| %>
                <% rosters = team.rosters.where(level: level)  %>

                <div id="rosters_team_<%= team.id %>_level_<%= level %>"
                     class="rosters-level">
                  <%= content_tag :span, rosters.count,
                                  class: "count rosters-count" %>

                  <% Roster.level_positions(level).each do |position| %>
                    <div id="rosters_team_<%= team.id %>_level_<%= level %>_position_<%= position %>"
                         class="rosters-position">
                      <% position_rosters = rosters.where(position: position).rank(:row_order) %>
                      <% position_rosters.each do |roster| %>
                        <div id="roster_<%= roster.id %>" class="roster">
                          <% player = roster.player %>
                          <% if player %>
                            <%= content_tag :p, player.roster_name %>
                            <% if [1, 10].include?(position) %>
                              <%= content_tag :span, player.throws, class: 'player-throws' %>
                            <% else %>
                              <%= content_tag :span, player.bats, class: 'player-bats' %>
                            <% end %>

                            <% case position %>
                            <% when 1 %>
                              <%= content_tag :span, format_pitching(player.starting_pitching),
                                                     class: 'player-starting-pitching' %>
                            <% when 10 %>
                              <%= content_tag :span, format_pitching(player.relief_pitching),
                                                     class: 'player-relief-pitching' %>
                            <% else %>
                              <%= content_tag :span, format_hitting(player.offensive_rating),
                                                     class: 'player-offensive-rating' %>
                              <%= content_tag :span, format_hitting(player.left_hitting),
                                                     class: 'player-left-hitting' %>
                              <%= content_tag :span, format_hitting(player.right_hitting),
                                                     class: 'player-right-hitting' %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
