<%= league_team_breadcrumbs(@league, @team) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Team Rosters' %>
    </div>
  </div>

  <%= team_nav(@team) %>
</div>

<div class="columns rosters-wrapper">
  <div class="first-column">
    <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 4 %>
    <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 3 %>
    <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 2 %>
    <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 1 %>
  </div>

  <% if @rosterless_players.any? %>
    <div class="second-column">
      <h2>Pending</h2>
      <div id="rosterless-players" class="rosterless-players">
        <%= render partial: 'rosters/rosterless_player',
                   collection: @rosterless_players %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<h2>Player Stats</h2>
<%= render 'players/players', players: @players, show_contract: false %>
