<% if @team %>
  <%= league_team_breadcrumbs(@team.league, @team) %>

  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <%= content_tag :h1, 'Team Rosters' %>
      </div>
    </div>

    <%= team_nav(@team) %>
  </div>

  <div class="columns team-rosters">
    <div class="first-column">
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 4 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 3 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 2 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 1 %>
    </div>

    <% if can?(:create, new_roster) && @rosterless_players.any? %>
      <div class="second-column">
        <h2>Pending</h2>
        <div id="rosterless-players" class="rosterless-players">
          <%= render partial: 'rosters/rosterless_player',
                     collection: @rosterless_players %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <h2>Player Stats</h2>
  <%= render 'players/players', players: @players, show_contract: false %>
<% else %>
  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <h1>All Rosters</h1>
      </div>
    </div>

    <%= leagues_nav %>
  </div>

  <div class="table-wrapper">
    <table class="rosters">
      <% [4, 3, 2, 1].each do |level| %>
        <thead>
          <tr>
            <%= content_tag :th, Roster::LEVEL_MAP[level][:name] %>
            <% @leagues.each do |_, teams| %>
              <% teams.each do |team| %>
                <th><%= link_to_if can?(:read, team), team.name, league_team_path(team.league, team) %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>

        <tbody id="rosters_level_<%= level %>" class="rosters-level">
          <% Roster.level_positions(level).each do |position| %>
            <tr id="rosters_level_<%= level %>_position_<%= position %>"
                 class="rosters-position">
              <%= content_tag :td, Roster.position_initials(position, level),
                              class: 'rosters-position-label' %>

              <% position_rosters = Roster.where(level: level, position: position) %>

              <% @leagues.each do |league, teams| %>
                <% teams.each do |team| %>
                  <% rosters = position_rosters.where(team: team).rank(:row_order)  %>
                  <td id="rosters_team_<%= team.id %>_level_<%= level %>_position_<%= position %>"
                       class="rosters-team left-border">
                    <% rosters.each do |roster| %>
                      <div id="roster_<%= roster.id %>" class="roster">
                        <% player = roster.player %>
                        <% if player %>
                          <div class="roster-player">
                            <div class="player-name-wrapper">
                              <%= content_tag :span, player.roster_name, class: 'player-name' %>
                              <% if [1, 10].include?(position) %>
                                <%= content_tag :span, player.throws, class: 'player-throws' %>
                              <% else %>
                                <%= content_tag :span, player.bats, class: 'player-bats' %>
                              <% end %>
                            </div>

                            <div class="player-ratings">
                              <% case position %>
                              <% when 1 %>
                                <%= content_tag :span, format_pitching(player.starting_pitching),
                                                       class: 'player-starting-pitching' %>
                              <% when 10 %>
                                <%= content_tag :span, format_pitching(player.relief_pitching),
                                                       class: 'player-relief-pitching' %>
                              <% else %>
                                <%= content_tag :span, format_hitting(player.offensive_rating),
                                                       class: 'player-offensive-rating' %>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
