<% if @team %>
  <%= league_team_breadcrumbs(@team.league, @team) %>

  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <%= content_tag :h1, 'Team Rosters' %>
      </div>
    </div>

    <%= team_nav(@team) %>
  </div>

  <div class="columns team-rosters">
    <div class="first-column">
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 4 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 3 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 2 %>
      <%= render 'rosters/rosters', team: @team, rosters: @rosters, level: 1 %>
    </div>

    <% if can?(:create, new_roster) && @rosterless_players.any? %>
      <div class="second-column">
        <h2>Pending</h2>
        <div id="rosterless-players" class="rosterless-players">
          <%= render partial: 'rosters/rosterless_player',
                     collection: @rosterless_players %>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <h2>Player Stats</h2>
  <%= render 'players/players', players: @players, show_contract: false %>
<% else %>
  <div class="page-header">
    <div class="columns">
      <div class="first-column">
        <h1>All Rosters</h1>
      </div>
    </div>

    <%= leagues_nav %>
  </div>

  <div class="rosters">
    <div class="rosters-labels">
      <% [4, 3, 2, 1].each do |level| %>
        <div id="rosters_labels_level_<%= level %>"
             class="rosters-level">
          <%= content_tag :h3, Roster::LEVEL_MAP[level][:name] %>

          <% Roster.level_positions(level).each do |position| %>
            <div id="rosters_labels_level_<%= level %>_position_<%= position %>"
                 class="rosters-position">
              <%= content_tag :h4, Roster.position_initials(position, level),
                              class: 'roster-position' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% @leagues.each do |league| %>
      <div class="rosters-league">
        <%= content_tag :h2, league.name %>

        <% teams = league.teams.order(name: :asc) %>

        <div class="rosters-league-teams">
          <% teams.each do |team| %>
            <div id="rosters_team_<%= team.id %>" class="rosters-team">
              <div class="rosters-team-header">
                <%= content_tag :h3, link_to_if(can?(:read, team), team.name, league_team_path(team.league, team)) %>
                <%= content_tag :span, team.rosters.count,
                                class: "count rosters-count" %>
                <% if can?(:create, team.rosters.build) %>
                  <p>
                    <%= link_to 'Edit', team_rosters_path(team), class: 'secondary-link' %>
                  </p>
                <% end %>
              </div>

              <% [4, 3, 2, 1].each do |level| %>
                <% rosters = team.rosters.where(level: level)  %>

                <div id="rosters_team_<%= team.id %>_level_<%= level %>"
                     class="rosters-level">
                  <% Roster.level_positions(level).each do |position| %>
                    <div id="rosters_team_<%= team.id %>_level_<%= level %>_position_<%= position %>"
                         class="rosters-position">
                      <% position_rosters = rosters.where(position: position).rank(:row_order) %>
                      <% position_rosters.each do |roster| %>
                        <div id="roster_<%= roster.id %>" class="roster">
                          <% player = roster.player %>
                          <% if player %>
                            <div class="roster-player">
                              <div class="player-name-wrapper">
                                <%= content_tag :span, player.roster_name %>
                                <% if [1, 10].include?(position) %>
                                  <%= content_tag :span, player.throws, class: 'player-throws' %>
                                <% else %>
                                  <%= content_tag :span, player.bats, class: 'player-bats' %>
                                <% end %>
                              </div>

                              <div class="player-ratings">
                                <% case position %>
                                <% when 1 %>
                                  <%= content_tag :span, format_pitching(player.starting_pitching),
                                                         class: 'player-starting-pitching' %>
                                <% when 10 %>
                                  <%= content_tag :span, format_pitching(player.relief_pitching),
                                                         class: 'player-relief-pitching' %>
                                <% else %>
                                  <%= content_tag :span, format_hitting(player.offensive_rating),
                                                         class: 'player-offensive-rating' %>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
