<%
  table_index ||= nil
  highlight ||= nil
%>

<tr class="hitter" id="hitter_<%= hitter.id %>">
  <% if table_index.present? %>
    <%= content_tag :td, table_index, class: 'table-index' %>
  <% end %>
  <td><%= link_to hitter.roster_name, hitter, class: 'hitter-name' %></td>
  <td><%= hitter.bats %></td>
  <td><%= hitter.speed %></td>
  <td><%= hitter.bunt_grade %></td>
  <td><%= hitter.primary_position_initials %></td>
  <td><%= format_hitting(hitter.offensive_rating) %></td>
  <td><%= hitter.offensive_durability %></td>
  <%= left_td format_hitting(hitter.left_hitting), highlight: highlight, class: 'left-border' %></td>
  <%= left_td hitter.left_on_base_percentage, highlight: highlight %></td>
  <%= left_td hitter.left_slugging, highlight: highlight %></td>
  <%= left_td hitter.left_homerun, highlight: highlight %></td>
  <%= right_td format_hitting(hitter.right_hitting), class: 'left-border', highlight: highlight %>
  <%= right_td hitter.right_on_base_percentage, highlight: highlight %>
  <%= right_td hitter.right_slugging, highlight: highlight %>
  <%= right_td hitter.right_homerun, highlight: highlight %>
  <%= defense_td(hitter.defense2, hitter.bar2, class: 'left-border') %>
  <%= defense_td(hitter.defense3) %>
  <%= defense_td(hitter.defense4) %>
  <%= defense_td(hitter.defense5) %>
  <%= defense_td(hitter.defense6) %>
  <%= defense_td(hitter.defense7) %>
  <%= defense_td(hitter.defense8) %>
  <%= defense_td(hitter.defense1, hitter.bar1) %>
  <% if show_contract %>
    <td class="left-border"><%= render 'players/contract', player: hitter, show_team: show_team %></td>
  <% end %>
  <% if show_roster %>
    <%= content_tag :td, hitter.roster_level, class: 'left-border roster-level' %>
  <% end %>
</tr>
