<% table_index ||= nil  %>

<tr class="hitter" id="hitter_<%= hitter.id %>">
  <% if table_index.present? %>
    <%= content_tag :td, table_index, class: 'table-index' %>
  <% end %>
  <td><%= link_to hitter.roster_name, hitter, class: 'hitter-name' %></td>
  <td><%= hitter.bats %></td>
  <td><%= hitter.speed %></td>
  <td><%= hitter.bunt_grade %></td>
  <td><%= hitter.primary_position_initial %></td>
  <td><%= hitter.overall_rating %></td>
  <td><%= hitter.durability %></td>
  <td class="left-border"><%= hitter.left_rating %></td>
  <td><%= hitter.left_on_base_percentage %></td>
  <td><%= hitter.left_slugging %></td>
  <td><%= hitter.left_homeruns %></td>
  <td class="left-border"><%= hitter.right_rating %></td>
  <td><%= hitter.right_on_base_percentage %></td>
  <td><%= hitter.right_slugging %></td>
  <td><%= hitter.right_homeruns %></td>
  <td class="left-border">
    <% if hitter.catcher_defense && hitter.catcher_defense > -10 %>
      <%= format_defense(hitter.catcher_defense) %><span class="defense-bar">/<%= hitter.catcher_bar || 0 %></span>
    <% else %>
      <%= format_defense(hitter.catcher_defense) %>
    <% end %>
  </td>
  <td><%= format_defense(hitter.first_base_defense) %></td>
  <td><%= format_defense(hitter.second_base_defense) %></td>
  <td><%= format_defense(hitter.third_base_defense) %></td>
  <td><%= format_defense(hitter.shortstop_defense) %></td>
  <td><%= format_defense(hitter.outfield_defense) %></td>
  <td><%= format_defense(hitter.center_field_defense) %></td>
  <td>
    <% if hitter.pitcher_defense && hitter.pitcher_defense > -10 %>
      <%= format_defense(hitter.pitcher_defense) %><span class="defense-bar">/<%= hitter.pitcher_bar || 0 %></span>
    <% else %>
      <%= format_defense(hitter.pitcher_defense) %>
    <% end %>
  </td>
  <td class="left-border"><%= render 'hitters/contract', hitter: hitter %></td>
</tr>
