<h1>Hitters</h1>

<p>
  <%= link_to 'Add Hitter', new_hitter_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bats</th>
      <th>Bunt Grade</th>
      <th>Speed</th>
      <th>Durability</th>
      <th>Primary Position</th>
      <th>Hitting Pitcher</th>
      <th>Overall rating</th>
      <th>Left rating</th>
      <th>Right rating</th>
      <th>Left on base percentage</th>
      <th>Left slugging</th>
      <th>Left homeruns</th>
      <th>Right on base percentage</th>
      <th>Right slugging</th>
      <th>Right homeruns</th>
      <th>Catcher defense</th>
      <th>First base defense</th>
      <th>Second base defense</th>
      <th>Third base defense</th>
      <th>Shortstop defense</th>
      <th>Center field defense</th>
      <th>Outfield defense</th>
      <th>Pitcher defense</th>
      <th>Catcher Bar</th>
      <th>Pitcher Bar</th>
      <th>Roster name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="hitters">
    <% @hitters.each do |hitter| %>
      <tr class="hitter" id="hitter_<%= hitter.id %>">
        <td><%= link_to hitter.name, hitter, class: 'hitter-name' %></td>
        <td><%= hitter.bats %></td>
        <td><%= hitter.bunt_grade %></td>
        <td><%= hitter.speed %></td>
        <td><%= hitter.durability %></td>
        <td><%= hitter.primary_position %></td>
        <td><%= hitter.hitting_pitcher %></td>
        <td><%= hitter.overall_rating %></td>
        <td><%= hitter.left_rating %></td>
        <td><%= hitter.right_rating %></td>
        <td><%= hitter.left_on_base_percentage %></td>
        <td><%= hitter.left_slugging %></td>
        <td><%= hitter.left_homeruns %></td>
        <td><%= hitter.right_on_base_percentage %></td>
        <td><%= hitter.right_slugging %></td>
        <td><%= hitter.right_homeruns %></td>
        <td><%= hitter.catcher_defense %></td>
        <td><%= hitter.first_base_defense %></td>
        <td><%= hitter.second_base_defense %></td>
        <td><%= hitter.third_base_defense %></td>
        <td><%= hitter.shortstop_defense %></td>
        <td><%= hitter.center_field_defense %></td>
        <td><%= hitter.outfield_defense %></td>
        <td><%= hitter.pitcher_defense %></td>
        <td><%= hitter.catcher_bar %></td>
        <td><%= hitter.pitcher_bar %></td>
        <td><%= hitter.roster_name %></td>
        <td><%= link_to 'Settings', edit_hitter_path(hitter) %></td>
        <td><%= link_to 'Destroy', hitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
