<p id="notice"><%= notice %></p>

<h1>Hitters</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Roster name</th>
      <th>Bats</th>
      <th>Bunt</th>
      <th>Speed</th>
      <th>Durability</th>
      <th>Overall rating</th>
      <th>Left rating</th>
      <th>Right rating</th>
      <th>Left on base percentage</th>
      <th>Left slugging</th>
      <th>Left homeruns</th>
      <th>Right on base percentage</th>
      <th>Right slugging</th>
      <th>Right homeruns</th>
      <th>Catcher defense</th>
      <th>First base defense</th>
      <th>Second base defense</th>
      <th>Third base defense</th>
      <th>Short stop defense</th>
      <th>Center field defense</th>
      <th>Outfield defense</th>
      <th>Pitcher defense</th>
      <th>Catcher bar</th>
      <th>Pitcher bar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hitters.each do |hitter| %>
      <tr>
        <td><%= hitter.first_name %></td>
        <td><%= hitter.middle_name %></td>
        <td><%= hitter.last_name %></td>
        <td><%= hitter.roster_name %></td>
        <td><%= hitter.bats %></td>
        <td><%= hitter.bunt %></td>
        <td><%= hitter.speed %></td>
        <td><%= hitter.durability %></td>
        <td><%= hitter.overall_rating %></td>
        <td><%= hitter.left_rating %></td>
        <td><%= hitter.right_rating %></td>
        <td><%= hitter.left_on_base_percentage %></td>
        <td><%= hitter.left_slugging %></td>
        <td><%= hitter.left_homeruns %></td>
        <td><%= hitter.right_on_base_percentage %></td>
        <td><%= hitter.right_slugging %></td>
        <td><%= hitter.right_homeruns %></td>
        <td><%= hitter.catcher_defense %></td>
        <td><%= hitter.first_base_defense %></td>
        <td><%= hitter.second_base_defense %></td>
        <td><%= hitter.third_base_defense %></td>
        <td><%= hitter.short_stop_defense %></td>
        <td><%= hitter.center_field_defense %></td>
        <td><%= hitter.outfield_defense %></td>
        <td><%= hitter.pitcher_defense %></td>
        <td><%= hitter.catcher_bar %></td>
        <td><%= hitter.pitcher_bar %></td>
        <td><%= link_to 'Show', hitter %></td>
        <td><%= link_to 'Edit', edit_hitter_path(hitter) %></td>
        <td><%= link_to 'Destroy', hitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hitter', new_hitter_path %>
