<h1>Hitters</h1>

<p>
  <%= link_to 'Add Hitter', new_hitter_path %>
</p>

<table>
  <thead>
    <tr>
      <th colspan="7"></th>
      <th colspan="4">vs Lefties</th>
      <th colspan="4">vs Righties</th>
      <th colspan="8">Defense</th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Bats</th>
      <th>Spd</th>
      <th>Bunt</th>
      <th>Pos</th>
      <th>Rating</th>
      <th>Dur</th>
      <th>Hit</th>
      <th>OBP</th>
      <th>Slug</th>
      <th>HR</th>
      <th>Hit</th>
      <th>OBP</th>
      <th>Slg</th>
      <th>HR</th>
      <th class="no-wrap">C (Bar)</th>
      <th>1B</th>
      <th>2B</th>
      <th>3B</th>
      <th>SS</th>
      <th>OF</th>
      <th>CF</th>
      <th class="no-wrap">P (Bar)</th>
      <th>Roster Name</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody class="hitters">
    <% @hitters.each do |hitter| %>
      <tr class="hitter" id="hitter_<%= hitter.id %>">
        <td><%= link_to hitter.name, hitter, class: 'hitter-name' %></td>
        <td><%= hitter.bats %></td>
        <td><%= hitter.speed %></td>
        <td><%= hitter.bunt_grade %></td>
        <td><%= hitter.primary_position_initial %></td>
        <td><%= hitter.overall_rating %></td>
        <td><%= hitter.durability %></td>
        <td><%= hitter.left_rating %></td>
        <td><%= hitter.left_on_base_percentage %></td>
        <td><%= hitter.left_slugging %></td>
        <td><%= hitter.left_homeruns %></td>
        <td><%= hitter.right_rating %></td>
        <td><%= hitter.right_on_base_percentage %></td>
        <td><%= hitter.right_slugging %></td>
        <td><%= hitter.right_homeruns %></td>
        <td>
          <% if hitter.catcher_defense && hitter.catcher_defense > -10 %>
            <%= hitter.catcher_defense %>
            (<%= hitter.catcher_bar || 0 %>)
          <% else %>
            <%= hitter.catcher_defense %>
          <% end %>
        </td>
        <td><%= hitter.first_base_defense %></td>
        <td><%= hitter.second_base_defense %></td>
        <td><%= hitter.third_base_defense %></td>
        <td><%= hitter.shortstop_defense %></td>
        <td><%= hitter.outfield_defense %></td>
        <td><%= hitter.center_field_defense %></td>
        <td>
          <% if hitter.pitcher_defense && hitter.pitcher_defense > -10 %>
            <%= hitter.pitcher_defense %>
            (<%= hitter.pitcher_bar || 0 %>)
          <% else %>
            <%= hitter.pitcher_defense %>
          <% end %>
        </td>
        <td><%= content_tag :span, hitter.roster_name, class: 'roster-name' %></td>
        <td><%= render 'hitters/contract', hitter: hitter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
