<%= hitter_breadcrumbs %>

<%= content_tag :h1, @hitter.name, class: 'hitter-name' %>

<p>
  <%= link_to 'Settings', edit_hitter_path(@hitter) %>
  <%= divider %>
  <%= link_to 'Remove', @hitter,
              method: :delete,
              data: { confirm: "Are you sure you want to remove #{@hitter.name}?" } %>
</p>

<p>
  <% if @contract %>
    <%= render @contract %>
  <% else %>
    No contract
  <% end %>

  <%= divider %>
  <%= link_to 'change', hitter_contract_path(@hitter) %>
</p>

<p>
  <strong>Roster name:</strong>
  <%= @hitter.roster_name %>
</p>

<p>
  <strong>Bats:</strong>
  <%= @hitter.bats %>
</p>

<p>
  <strong>Bunt Grade:</strong>
  <%= @hitter.bunt_grade %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @hitter.speed %>
</p>

<p>
  <strong>Durability:</strong>
  <%= @hitter.durability %>
</p>

<p>
  <strong>Primary Position:</strong>
  <%= @hitter.primary_position %>
</p>

<p>
  <strong>Hitting Pitcher:</strong>
  <%= @hitter.hitting_pitcher? %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @hitter.overall_rating %>
</p>

<p>
  <strong>Left rating:</strong>
  <%= @hitter.left_rating %>
</p>

<p>
  <strong>Right rating:</strong>
  <%= @hitter.right_rating %>
</p>

<p>
  <strong>Left on base percentage:</strong>
  <%= @hitter.left_on_base_percentage %>
</p>

<p>
  <strong>Left slugging:</strong>
  <%= @hitter.left_slugging %>
</p>

<p>
  <strong>Left homeruns:</strong>
  <%= @hitter.left_homeruns %>
</p>

<p>
  <strong>Right on base percentage:</strong>
  <%= @hitter.right_on_base_percentage %>
</p>

<p>
  <strong>Right slugging:</strong>
  <%= @hitter.right_slugging %>
</p>

<p>
  <strong>Right homeruns:</strong>
  <%= @hitter.right_homeruns %>
</p>

<p>
  <strong>Catcher defense:</strong>
  <%= @hitter.catcher_defense %>
</p>

<p>
  <strong>First base defense:</strong>
  <%= @hitter.first_base_defense %>
</p>

<p>
  <strong>Second base defense:</strong>
  <%= @hitter.second_base_defense %>
</p>

<p>
  <strong>Third base defense:</strong>
  <%= @hitter.third_base_defense %>
</p>

<p>
  <strong>Shortstop defense:</strong>
  <%= @hitter.shortstop_defense %>
</p>

<p>
  <strong>Center field defense:</strong>
  <%= @hitter.center_field_defense %>
</p>

<p>
  <strong>Outfield defense:</strong>
  <%= @hitter.outfield_defense %>
</p>

<p>
  <strong>Pitcher defense:</strong>
  <%= @hitter.pitcher_defense %>
</p>

<p>
  <strong>Catcher bar:</strong>
  <%= @hitter.catcher_bar %>
</p>

<p>
  <strong>Pitcher bar:</strong>
  <%= @hitter.pitcher_bar %>
</p>
