<%= form_with(model: hitter_contract,
              url: hitter_contract_path(hitter)) do |form| %>
  <%= form_errors(hitter_contract) %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.grouped_collection_select :team_id, leagues, :teams,
                                       :name, :id, :name,
                                       include_blank: 'unassigned' %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.select :length, HitterContract::LENGTH_OPTIONS %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
