<%
  priority_zones = [
    'Pacific Time (US & Canada)',
    'Mountain Time (US & Canada)',
    'Central Time (US & Canada)',
    'Eastern Time (US & Canada)'
  ].map { |zone| ActiveSupport::TimeZone[zone] }
  default_zone = 'Pacific Time (US & Canada)'
%>

<%= form_with(model: user) do |form| %>
  <%= form_errors user %>

  <div class="field">
    <%= required_field_label form, :name %>
    <%= form.text_field :name, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= required_field_label form, :email %>
    <%= form.text_field :email, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :time_zone %>
    <%= form.time_zone_select :time_zone, priority_zones,
                              default: default_zone %>
  </div>

  <% if current_user.admin? && current_user != @user %>
    <div class="field">
      <%= label_tag 'Role' %>

      <div class="check-box-buttons">
        <%= label_tag 'user_admin_role_false', class: 'radio-button-label' do %>
          <%= form.radio_button :admin_role, false %>
          User
        <% end %>

        <%= label_tag 'user_admin_role_true', class: 'radio-button-label' do %>
          <%= form.radio_button :admin_role, true %>
          Admin
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
