<%
  spot ||= nil
  if spot.present?
    batting_order = spot.batting_order
  else
    spot = lineup.spots.find_or_initialize_by(batting_order: batting_order)
  end
  url =
    if spot.persisted?
      lineup_spot_path(lineup, spot)
    else
      lineup_spots_path(lineup)
    end
  defense = spot.defense
  radio_button_class = 'spot-hitter-positions'

  if spot.errors.any? && spot.errors[:position].present?
    radio_button_class += ' highlight'
    spot.position = nil
    defense = nil
  end
%>

<%= form_with(model: spot, url: url,
              id: "spot_batting_order_#{batting_order}_form",
              class: 'batting-spot-form',
              local: false) do |form| %>
  <%= form.hidden_field :batting_order,
                        id: "spot_batting_order_#{batting_order}" %>

  <%= content_tag :span, batting_order,
                  class: 'spot-batting-order' %>

  <% if spot.hitter %>
    <% hitter = spot.hitter %>

    <%= form.hidden_field :hitter_id, id: "spot_batting_order_#{batting_order}_hitter_id" %>
    <div class="spot-hitter-field" data-id="<%= hitter.id %>">
      <%= content_tag :span, hitter.roster_name,
                      class: 'spot-hitter-name' %>

      <%= content_tag :div, class: radio_button_class do %>
        <% Player::POSITION_MAP.each do |position, options| %>
          <% next if position == 1 %>

          <% if hitter.position_defense(position) %>
            <%= form.label "batting_order_#{batting_order}_position_#{position}",
                           title: options[:name] do %>
              <%= options[:initials] %>
              <%= form.radio_button :position, position,
                                    id: "spot_batting_order_#{batting_order}_position_#{position}" %>
            <% end %>
          <% else %>
            <%= content_tag :span, options[:initials],
                            class: 'missing-spot-position' %>
          <% end %>
        <% end %>

        <% if lineup.with_dh? %>
          <%= form.label "batting_order_#{batting_order}_position_9",
                         title: 'Designated Hitter' do %>
            DH
            <%= form.radio_button :position, 9,
                                  id: "spot_batting_order_#{batting_order}_position_9" %>
          <% end %>
        <% end %>

        <% if spot.persisted? %>
          <%= link_to "&rArr;".html_safe, lineup_spot_path(lineup, spot),
                      method: :delete, class: 'destroy-link',
                      title: 'Bench', data: { remote: true } %>
        <% else %>
          <%= link_to "&rArr;".html_safe, '#',
                      method: :delete, class: 'disabled destroy-link',
                      title: 'Bench' %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-spot-hitter-field">
      <%= form.hidden_field :hitter_id, id: "spot_batting_order_#{batting_order}_hitter_id" %>
      <%= form.hidden_field :position, id: "spot_batting_order_#{batting_order}_position" %>
    </div>
  <% end %>

  <%= format_defense(defense, tag: :span, class: 'spot-defense') %>
<% end %>
