<%
  spot ||= nil
  if spot.present?
    batting_order = spot.batting_order
  else
    spot = lineup.spots.find_or_initialize_by(batting_order: batting_order)
  end
  url =
    if spot.persisted?
      lineup_spot_path(lineup, spot)
    else
      lineup_spots_path(lineup)
    end
  defense = spot.defense
  radio_button_class = 'spot-player-positions'

  if spot.errors.any? && spot.errors[:position].present?
    radio_button_class += ' highlight'
    spot.position = nil
    defense = nil
  end
%>

<%= form_with(model: spot, url: url,
              id: "spot_batting_order_#{batting_order}_form",
              class: 'batting-spot-form',
              local: false) do |form| %>
  <%= form.hidden_field :batting_order,
                        id: "spot_batting_order_#{batting_order}" %>

  <%= content_tag :span, batting_order,
                  class: 'spot-batting-order' %>

  <% if spot.player %>
    <% player = spot.player %>

    <%= form.hidden_field :player_id, id: "spot_batting_order_#{batting_order}_player_id" %>
    <div class="spot-player-field draggable" data-id="<%= player.id %>">
      <div class="spot-player">
        <%= content_tag :span, player.roster_name,
                        class: 'spot-player-name' %>
        <%= content_tag :span, player.bats, class: 'spot-player-bats' %>
      </div>

      <%= content_tag :div, class: radio_button_class do %>
        <% Player::POSITION_MAP.each do |position, options| %>
          <% next if [1, 9].include?(position) %>

          <%= form.label "batting_order_#{batting_order}_position_#{position}",
                         title: options[:name] do %>
            <%= options[:initials] %>
            <%= form.radio_button :position, position,
                                  id: "spot_batting_order_#{batting_order}_position_#{position}" %>
          <% end %>
        <% end %>

        <% if lineup.with_dh? %>
          <%= form.label "batting_order_#{batting_order}_position_9",
                         title: 'Designated Hitter' do %>
            DH
            <%= form.radio_button :position, 9,
                                  id: "spot_batting_order_#{batting_order}_position_9" %>
          <% end %>
        <% end %>

        <% if spot.persisted? %>
          <%= link_to "&rArr;".html_safe, lineup_spot_path(lineup, spot),
                      method: :delete, class: 'destroy-link',
                      title: 'Move to Bench', data: { remote: true } %>
        <% else %>
          <%= link_to "&rArr;".html_safe,
                      new_lineup_spot_path(lineup, batting_order: batting_order, bench_player_id: player&.id),
                      class: 'destroy-link', title: 'Cancel', remote: true %>
        <% end %>
      <% end %>
    </div>
  <% elsif spot.position == 1 %>
    <div class="spot-player-field draggable">
      <%= form.hidden_field :player_id, id: "spot_batting_order_#{batting_order}_player_id" %>
      <%= form.hidden_field :position, id: "spot_batting_order_#{batting_order}_position" %>

      <div class="spot-player">
        <%= content_tag :span, 'Pitcher',
                        class: 'spot-player-name' %>
      </div>
    </div>
  <% else %>
    <div class="empty-spot-player-field">
      <%= form.hidden_field :player_id, id: "spot_batting_order_#{batting_order}_player_id" %>
      <%= form.hidden_field :position, id: "spot_batting_order_#{batting_order}_position" %>
    </div>
  <% end %>

  <span class="spot-defense-wrapper">
    <%= format_defense(defense, tag: :span, class: 'spot-defense') %>
  </span>
<% end %>
