<div id="bench_hitter_<%= bench_hitter.id %>" class="draggable bench-hitter"
     data-id="<%= bench_hitter.id %>">
  <%= content_tag :span, bench_hitter.roster_name, class: 'hitter-name' %>

  <div class="hitter-positions">
    <% bench_hitter.positions.each do |position| %>
      <%
        defense =
          format_defense_and_bar(bench_hitter.position_defense(position),
                                 bench_hitter.bar_for_position(position),
                                 class: 'hitter-defense', tag: :span)
      %>

      <span class="hitter-position">
        <%= Hitter.position_initials(position) %><%= defense %>
      </span>
    <% end %>
  </div>
</div>
