<% confirm = "Are you sure you want to remove #{lineup.full_name}?"  %>

<section id="lineup_<%= lineup.id %>" class="lineup card">
  <header class="card-header">
    <h2 class="lineup-name"><%= link_to lineup.short_name, team_lineup_path(team, lineup) %></h2>

    <p class="lineup-tags">
      <%= lineup_tags(lineup) %>
    </p>

    <p class="lineup-defense">
      <%= format_lineup_defense(lineup.defense) %>/<%= content_tag :span, lineup.catcher_bar, class: 'lineup-bar' %>
    </p>
  </header>

  <main class="card-items">
    <div class="lineup-spots">
      <% (1..8).each do |batting_order| %>
        <% spot = lineup.spots.find_by(batting_order: batting_order)  %>
        <% if spot %>
          <%= render spot %>
        <% else %>
          <div class="empty spot">
            <%= content_tag :span, batting_order,
                            class: 'spot-batting-order' %>
            <%= content_tag :span, '',
                            class: 'spot-hitter' %>
            <%= content_tag :span, 'X',
                            class: 'spot-defense defense-missing' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>

  <footer class="card-footer">
    <%= link_to 'Options', edit_team_lineup_path(team, lineup) %>
    <%= link_to 'Remove', team_lineup_path(team, lineup),
                method: :delete,
                data: { confirm: confirm } %>
  </footer>
</section>
