<%
  header = true if header.nil?
  confirm = "Are you sure you want to remove the #{lineup.full_name}?"
%>

<section id="lineup_<%= lineup.id %>" class="lineup card">
  <% if header %>
    <header class="card-header">
      <h2 class="lineup-name"><%= link_to lineup.short_name, team_lineup_path(team, lineup) %></h2>

      <p class="lineup-tags">
        <%= lineup_tags(lineup) %>
      </p>

      <p class="lineup-defense">
        <%= format_lineup_defense(lineup.defense) %>/<%= content_tag :span, lineup.catcher_bar, class: 'lineup-bar' %>
      </p>
    </header>
  <% end %>

  <main class="card-items">
    <div class="lineup-spots">
      <% (1..9).each do |batting_order| %>
        <% spot = lineup.spots.find_by(batting_order: batting_order)  %>
        <% if spot %>
          <%= render spot %>
        <% else %>
          <div class="empty spot">
            <%= content_tag :span, batting_order,
                            class: 'spot-batting-order' %>
            <%= content_tag :span, '',
                            class: 'spot-hitter' %>
            <div class="spot-defense-wrapper">
              <%= content_tag :span, 'X',
                              class: 'spot-defense defense-missing' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>

  <% if can?(:edit, lineup) || can?(:destroy, lineup) %>
    <footer class="card-footer">
      <% if can?(:edit, lineup) %>
        <%= link_to 'Options', edit_team_lineup_path(team, lineup) %>
      <% end %>
      <% if can?(:destroy, lineup) %>
        <%= link_to 'Remove', team_lineup_path(team, lineup),
                    method: :delete, class: 'destroy-link',
                    data: { confirm: confirm } %>
      <% end %>
    </footer>
  <% end %>
</section>
