<%= league_team_breadcrumbs(@league, @team) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Lineups' %>
    </div>

    <div class="second-column">
      <%= link_to 'Add Lineup', new_team_lineup_path(@team),
                  class: 'button button-success' %>
    </div>
  </div>

  <%= team_nav(@team) %>
</div>

<% if @lineups.any? %>
  <div class="lineups cards">
    <%= render @lineups, team: @team %>
  </div>
<% else %>
  <p><%= link_to 'Add Lineup', new_team_lineup_path(@team) %></p>
<% end %>
