<%= league_team_breadcrumbs(@league, @team) %>
<%= enable_page_title "#{@team.name} Lineups" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Lineups' %>
    </div>

    <% if can?(:edit, @team) %>
      <div class="second-column">
        <%= link_to 'Add Lineup', new_team_lineup_path(@team),
                    class: 'button button-success' %>
      </div>
    <% end %>
  </div>

  <%= team_nav(@team) %>
</div>

<% if @lineups.any? %>
  <div class="lineups cards">
    <%= render @lineups, team: @team %>
  </div>
<% else %>
  <p><em>None yet</em></p>
<% end %>
