<%= lineup_breadcrumbs(@league, @team) %>

<div class="page-header">
  <%= content_tag :h1, @lineup.full_name, class: 'lineup-name' %>

  <%= lineup_nav(@team, @lineup) %>
</div>

<div class="lineup-spots">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h2, 'Lineup', class: 'lineup-heading' %>

      <%= content_tag :p, format_lineup_defense(@lineup.defense),
                          class: 'lineup-defense' %>

      <% 8.times do |n|  %>
        <% batting_order = n + 1 %>

        <%= render 'lineups/batting_spot_form', lineup: @lineup, team: @team,
                                                batting_order: batting_order %>
      <% end %>
      <% if @lineup.with_dh? %>
        <%= render 'lineups/batting_spot_form', lineup: @lineup, team: @team,
                                                batting_order: 9 %>
      <% end %>
    </div>

    <div class="second-column">
      <%= content_tag :h2, 'Bench', class: 'lineup-bench-heading' %>

      <div class="lineup-bench">
        <%= render partial: 'lineups/bench_hitter', collection: @lineup.bench %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="team-hitters">
  <h2>Hitter Stats</h2>

  <%= render 'hitters/hitters', hitters: @team.hitters,
                                show_contract: false,
                                highlight: @lineup.vs %>
</div>
