<%= league_team_breadcrumbs(@league, @team) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, @lineup.full_name, class: 'lineup-name' %>
    </div>

    <% if can?(:edit, @lineup) %>
      <div class="second-column">
        <%= link_to 'Lineup Options', edit_team_lineup_path(@team, @lineup),
                    class: 'button' %>
      </div>
    <% end %>
  </div>

  <%= team_nav(@team) %>
</div>

<div id="lineup_<%= @lineup.id %>" class="lineup lineup-detail">
  <div class="columns">
    <div class="first-column">
      <div class="column-heading">
        <%= content_tag :h2, 'Lineup', class: 'lineup-heading' %>

        <p class="lineup-defense-bar"><%= content_tag :span, format_lineup_defense(@lineup.defense), class: 'lineup-defense' %>/<%= content_tag :span, @lineup.catcher_bar, class: 'lineup-bar' %></p>
      </div>

      <% if can?(:create, new_spot) %>
        <div class="lineup-spots">
          <% 8.times do |n|  %>
            <% batting_order = n + 1 %>

            <%= render 'lineups/batting_spot_form', lineup: @lineup, team: @team,
                                                    batting_order: batting_order %>
          <% end %>
          <% if @lineup.with_dh? %>
            <%= render 'lineups/batting_spot_form', lineup: @lineup, team: @team,
                                                    batting_order: 9 %>
          <% end %>
        </div>
      <% else %>
        <div class="lineups">
          <%= render @lineup, team: @team, header: false %>
        </div>
      <% end %>
    </div>

    <div class="second-column">
      <%= content_tag :h2, 'Bench', class: 'lineup-bench-heading' %>

      <div class="lineup-bench">
        <%= render partial: 'lineups/bench_hitter', collection: @lineup.bench %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="team-hitters">
  <h2>Hitter Stats</h2>

  <%= render 'hitters/hitters', hitters: @team.hitters,
                                show_contract: false,
                                highlight: @lineup.vs %>
</div>
