<%
path ||= request.path
return unless path
%>

<% if searching? %>
  <% if params[:order] != 'reset' %>
    <p class="link-wrapper"><%= link_to 'Reset Filters', "#{path}?order=reset" %></p>
  <% end %>
<% else %>
  <p class="link-wrapper"><%= link_to 'Search/Filter Players', 'javascript:void(0)', class: 'toggle-link filter-toggle-link', data: { target: 'player-filters' } %></p>
<% end %>

<div id="player-filters" class="filters-wrapper<%= ' inactive' unless searching? %>">
  <%= form_tag path, method: :get, class: "players-filter-form" do %>
    <%= hidden_field_tag :order, 'name' %>

    <%= render 'players/name_filter_field' %>
    <%= render 'players/position_filter_field' %>
    <%= render 'players/free_agent_filter_field' %>

    <div class="actions">
      <%= submit_tag 'Filter' %>
    </div>
  <% end %>
</div>
