<%
  table_index ||= nil
  highlight ||= nil
  show_team = true if show_team.nil?
  show_roster = true if show_roster.nil?
%>

<tr class="player" id="player_<%= player.id %>">
  <% if table_index.present? %>
    <%= content_tag :td, table_index, class: 'table-index' %>
  <% end %>
  <td>
    <%= link_to player.roster_name, player, class: 'player-name' %>
    <span class="player-primary-position">
      <%= player.primary_position_initials %>
    </span>
  </td>
  <td><%= player.offensive_rating %></td>
  <td class="left-border"><%= player.pitcher_rating %></td>
  <td class="left-border">
    <%= content_tag :div, player_positions(player),
                    class: 'player-positions' %>
  </td>
  <% if show_contract %>
    <td class="left-border">
      <%= render 'players/contract', player: player, show_team: show_team %>
    </td>
  <% end %>
  <% if show_roster %>
    <%= content_tag :td, player.roster_level, class: 'left-border roster-level' %>
  <% end %>
</tr>
