<header class="main-header">
  <div class="page">
    <div class="app-name-and-logo">
      <p class="app-name">
        <%= link_to 'Card Baseball', root_path %>
      </p>
    </div>

    <% if user_signed_in? %>
      <div class="menu">
        <%= menu_link 'Leagues', root_path %>
        <%= menu_link 'Players', players_path %>
        <%= menu_link 'Hitters', hitters_path %>
        <%= menu_link 'Pitchers', pitchers_path %>
      </div>

      <div class="user-name">
        <%= link_to current_user.name,
                    user_path(current_user),
                    class: 'dropdown-link user-dropdown-link',
                    title: 'User Menu' %>
      </div>

      <%= user_dropdown(current_user) %>
    <% end %>
  </div>
</header>
