<!DOCTYPE html>
<html>
  <head>
    <title>CardBaseball</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'flash_messages', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dropdowns', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'radio_buttons', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'submitting_radio_buttons', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'lineups', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <%= render 'layouts/header' %>

      <main class="main-content">
        <% flash_messages if defined?(flash_messages) %>

        <div class="page">
          <%= yield %>
        </div>
      </main>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
